<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDatabase" connectionString="Data Source=SERVER_NAME;Initial Catalog=DATABASE_NAME;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="KOUTAIBA" connectionString="Data Source=KOUTAIBA;Initial Catalog=STEF;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="JACE" connectionString="Data Source=JACE\SQLEXPRESS;Initial Catalog=Hospital;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>