<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDatabase" connectionString="Data Source=SERVER_NAME;Initial Catalog=DATABASE_NAME;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	<add name="Shane" connectionString="Data Source=KOUTAIBA;Initial Catalog=STEF;Integrated Security=True;TrustServerCertificate=True" providerName="System.SqlClient"/>
	<add name ="JACE" connectionString="Data Source=jace\sqlexpress;Initial Catalog=Hospital;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.SqlClient"/>
  </connectionStrings>
</configuration>